v-env
.env
!.env.example

,git
node_modules
__pycache__
v-env
.DS_Store
aws_cf_deploy_anything_llm.json
yarn.lock
*.bak

*_v[0-9]*
*_t[0-9]*

bookmarks.json
commit.no
# Ignore AppleDouble resource files, but keep directories whose names start with ._
**/._*
!**/._*/
